/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.row {
  box-sizing: border-box;
  margin: 0 -1rem;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap; }

.row.reverse {
  flex-direction: row-reverse; }

.row.natural-height {
  align-items: flex-start; }

.row.flex-column {
  flex-direction: column; }

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 0 1rem; }

.col.reverse {
  flex-direction: column-reverse; }

.first {
  order: -1; }

.last {
  order: 1; }

.align-start {
  align-self: flex-start; }

.align-end {
  align-self: flex-end; }

.align-center {
  align-self: center; }

.align-baseline {
  align-self: baseline; }

.align-stretch {
  align-self: stretch; }

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1rem; }

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 1rem; }

.col-xs-offset-1 {
  margin-left: 8.3333333333%; }

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 1rem; }

.col-xs-offset-2 {
  margin-left: 16.6666666667%; }

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1rem; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 1rem; }

.col-xs-offset-4 {
  margin-left: 33.3333333333%; }

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 1rem; }

.col-xs-offset-5 {
  margin-left: 41.6666666667%; }

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 1rem; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 1rem; }

.col-xs-offset-7 {
  margin-left: 58.3333333333%; }

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 1rem; }

.col-xs-offset-8 {
  margin-left: 66.6666666667%; }

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 1rem; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 1rem; }

.col-xs-offset-10 {
  margin-left: 83.3333333333%; }

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 1rem; }

.col-xs-offset-11 {
  margin-left: 91.6666666667%; }

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1rem; }

.col-xs-offset-12 {
  margin-left: 100%; }

.row.start-xs {
  justify-content: flex-start; }

.row.center-xs {
  justify-content: center; }

.row.end-xs {
  justify-content: flex-end; }

.row.top-xs {
  align-items: flex-start; }

.row.middle-xs {
  align-items: center; }

.row.bottom-xs {
  align-items: flex-end; }

.row.around-xs {
  justify-content: space-around; }

.row.between-xs {
  justify-content: space-between; }

.first-xs {
  order: -1; }

.last-xs {
  order: 1; }

@media only screen and (min-width: 768px) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem; }

  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1rem; }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%; }

  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1rem; }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%; }

  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1rem; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1rem; }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%; }

  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1rem; }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%; }

  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1rem; }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%; }

  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1rem; }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%; }

  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1rem; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1rem; }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%; }

  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1rem; }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%; }

  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .row.start-sm {
    justify-content: flex-start; }

  .row.center-sm {
    justify-content: center; }

  .row.end-sm {
    justify-content: flex-end; }

  .row.top-sm {
    align-items: flex-start; }

  .row.middle-sm {
    align-items: center; }

  .row.bottom-sm {
    align-items: flex-end; }

  .row.around-sm {
    justify-content: space-around; }

  .row.between-sm {
    justify-content: space-between; }

  .first-sm {
    order: -1; }

  .last-sm {
    order: 1; } }
@media only screen and (min-width: 1024px) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem; }

  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1rem; }

  .col-md-offset-1 {
    margin-left: 8.3333333333%; }

  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1rem; }

  .col-md-offset-2 {
    margin-left: 16.6666666667%; }

  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1rem; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1rem; }

  .col-md-offset-4 {
    margin-left: 33.3333333333%; }

  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1rem; }

  .col-md-offset-5 {
    margin-left: 41.6666666667%; }

  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1rem; }

  .col-md-offset-7 {
    margin-left: 58.3333333333%; }

  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1rem; }

  .col-md-offset-8 {
    margin-left: 66.6666666667%; }

  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1rem; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1rem; }

  .col-md-offset-10 {
    margin-left: 83.3333333333%; }

  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1rem; }

  .col-md-offset-11 {
    margin-left: 91.6666666667%; }

  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .row.start-md {
    justify-content: flex-start; }

  .row.center-md {
    justify-content: center; }

  .row.end-md {
    justify-content: flex-end; }

  .row.top-md {
    align-items: flex-start; }

  .row.middle-md {
    align-items: center; }

  .row.bottom-md {
    align-items: flex-end; }

  .row.around-md {
    justify-content: space-around; }

  .row.between-md {
    justify-content: space-between; }

  .first-md {
    order: -1; }

  .last-md {
    order: 1; } }
@media only screen and (min-width: 1200px) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem; }

  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1rem; }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%; }

  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1rem; }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%; }

  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1rem; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1rem; }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%; }

  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1rem; }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%; }

  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1rem; }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%; }

  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1rem; }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%; }

  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1rem; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1rem; }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%; }

  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1rem; }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%; }

  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .row.start-lg {
    justify-content: flex-start; }

  .row.center-lg {
    justify-content: center; }

  .row.end-lg {
    justify-content: flex-end; }

  .row.top-lg {
    align-items: flex-start; }

  .row.middle-lg {
    align-items: center; }

  .row.bottom-lg {
    align-items: flex-end; }

  .row.around-lg {
    justify-content: space-around; }

  .row.between-lg {
    justify-content: space-between; }

  .first-lg {
    order: -1; }

  .last-lg {
    order: 1; } }
@media only screen and (min-width: 1340px) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem; }

  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1rem; }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%; }

  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1rem; }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%; }

  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1rem; }

  .col-xl-offset-3 {
    margin-left: 25%; }

  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1rem; }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%; }

  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1rem; }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%; }

  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem; }

  .col-xl-offset-6 {
    margin-left: 50%; }

  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1rem; }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%; }

  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1rem; }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%; }

  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1rem; }

  .col-xl-offset-9 {
    margin-left: 75%; }

  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1rem; }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%; }

  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1rem; }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%; }

  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem; }

  .col-xl-offset-12 {
    margin-left: 100%; }

  .row.start-xl {
    justify-content: flex-start; }

  .row.center-xl {
    justify-content: center; }

  .row.end-xl {
    justify-content: flex-end; }

  .row.top-xl {
    align-items: flex-start; }

  .row.middle-xl {
    align-items: center; }

  .row.bottom-xl {
    align-items: flex-end; }

  .row.around-xl {
    justify-content: space-around; }

  .row.between-xl {
    justify-content: space-between; }

  .first-xl {
    order: -1; }

  .last-xl {
    order: 1; } }
.col-gutter-lr {
  padding: 0 1rem; }

.col-no-gutter {
  padding: 0; }

.show {
  display: block !important; }

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.hide {
  display: none !important; }

.show-xs {
  display: block !important; }

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.hide-xs {
  display: none !important; }

@media only screen and (max-width: 767px) {
  .show-xs-only {
    display: block !important; }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-xs-only {
    display: none !important; } }
@media only screen and (min-width: 768px) {
  .show-sm {
    display: block !important; }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-sm {
    display: none !important; } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .show-sm-only {
    display: block !important; }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-sm-only {
    display: none !important; } }
@media only screen and (min-width: 1024px) {
  .show-md {
    display: block !important; }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-md {
    display: none !important; } }
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .show-md-only {
    display: block !important; }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-md-only {
    display: none !important; } }
@media only screen and (min-width: 1200px) {
  .show-lg {
    display: block !important; }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-lg {
    display: none !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1339px) {
  .show-lg-only {
    display: block !important; }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-lg-only {
    display: none !important; } }
@media only screen and (min-width: 1340px) {
  .show-xl {
    display: block !important; }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-xl {
    display: none !important; } }
.breadcrumb {
  margin: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #f4f4f4; }
  .breadcrumb > li {
    font-size: 1.3rem;
    line-height: 2rem;
    display: inline-block; }
    .breadcrumb > li:after {
      content: '>';
      padding: 0 5px; }
    .breadcrumb > li:last-child:after {
      display: none; }

.form_label {
  display: block;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 0.5rem; }

.form_control {
  width: 100%;
  display: block;
  color: #666;
  outline: none;
  background: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2rem;
  position: relative;
  overflow: hidden;
  text-align: left;
  padding: 0.9rem 1rem;
  border: 1px solid #c2c2c2; }

.selectric-wrapper {
  width: 100%;
  display: block; }
  .selectric-wrapper .selectric {
    width: 100%;
    display: block;
    color: #666;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2rem;
    position: relative;
    overflow: hidden;
    text-align: left;
    padding: 0.9rem 2.5rem 0.9rem 1rem;
    border: 1px solid #c2c2c2; }
    .selectric-wrapper .selectric .label {
      display: block;
      width: 100%;
      white-space: nowrap;
      max-width: 100%;
      overflow: hidden;
      margin: 0; }
    .selectric-wrapper .selectric .button {
      top: 0;
      right: 0;
      width: 2rem;
      height: 100%;
      font-size: 20px;
      padding: 0.9rem 0;
      line-height: 20px;
      position: absolute;
      text-align: left; }
    .selectric-wrapper .selectric:hover {
      background: #f5f5f5; }
  .selectric-wrapper .selectric-items {
    background: #fff;
    max-height: 200px;
    border: 1px solid #c2c2c2;
    border-top: none; }
    .selectric-wrapper .selectric-items .selectric-scroll {
      max-height: 200px; }
      .selectric-wrapper .selectric-items .selectric-scroll ul {
        padding: 0;
        margin: 0;
        font-size: 1.3rem;
        line-height: 2rem;
        list-style: none; }
        .selectric-wrapper .selectric-items .selectric-scroll ul li {
          color: #666;
          cursor: pointer;
          padding: 0.5rem 1rem; }
          .selectric-wrapper .selectric-items .selectric-scroll ul li:hover {
            color: #444;
            background: #EDF0F5; }
          .selectric-wrapper .selectric-items .selectric-scroll ul li.selected {
            color: #ed6f00;
            font-weight: 600; }

.form_checkbox {
  cursor: pointer;
  display: inline-block; }
  .form_checkbox input {
    display: none; }
  .form_checkbox span {
    color: #999;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    position: relative;
    padding-left: 3.2rem;
    display: inline-block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .form_checkbox span:before {
      top: 0;
      left: 0;
      z-index: 5;
      content: '';
      width: 2rem;
      height: 2rem;
      position: absolute;
      display: inline-block;
      border: 1px solid #c0dee8; }
    .form_checkbox span:after {
      top: 0;
      left: 0;
      color: #fff;
      z-index: 10;
      width: 2rem;
      height: 2rem;
      display: none;
      padding: 0.3rem 0;
      font-size: 1.4rem;
      text-align: center;
      line-height: 1.4rem;
      content: "\f00c";
      position: absolute;
      font-family: FontAwesome; }
    .form_checkbox span.input_star {
      color: #FBD000;
      font-size: 1.6rem; }
  .form_checkbox:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .form_checkbox:hover span {
      color: #444; }
      .form_checkbox:hover span:before {
        border-color: #ed6f00; }
      .form_checkbox:hover span.input_star {
        color: #ed6f00; }
  .form_checkbox input:checked + span {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .form_checkbox input:checked + span:before {
      background: #ed6f00;
      border-color: #ed6f00; }
    .form_checkbox input:checked + span:after {
      display: inline-block; }

.form_group {
  margin-bottom: 1.5rem; }

.filter-date {
  padding-right: 2.5rem;
  background: #fff url("../img/calendar_hotel.png") 100% 50% no-repeat; }

.selection {
  z-index: 100;
  position: relative; }
  .selection:hover, .selection:focus {
    z-index: 200; }
  .selection.open .selection_dropdown {
    display: block; }
  .selection .selection_label {
    width: 100%;
    display: block;
    color: #666;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2rem;
    position: relative;
    overflow: hidden;
    text-align: left;
    padding: 0.9rem 2.5rem 0.9rem 1rem;
    border: 1px solid #c2c2c2; }
    .selection .selection_label .selection_label_button {
      top: 0;
      right: 0;
      width: 2rem;
      height: 100%;
      font-size: 20px;
      padding: 0.9rem 0;
      line-height: 20px;
      position: absolute;
      text-align: left; }
    .selection .selection_label:hover {
      background: #f5f5f5; }
  .selection .selection_dropdown {
    left: 0;
    top: 100%;
    background: #fff;
    min-width: 100%;
    display: none;
    position: absolute;
    margin-top: -1px;
    border: 1px solid #c2c2c2;
    -webkit-border-radius: 0 9px 5px rgba(0, 0, 0, 0.1);
    -moz-border-radius: 0 9px 5px rgba(0, 0, 0, 0.1);
    -ms-border-radius: 0 9px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0 9px 5px rgba(0, 0, 0, 0.1); }
  .selection .selection_dropdown_wrap {
    padding: 2rem 1.5rem 1rem 1.5rem; }

.tourists .tourists_title {
  padding: 0.4rem 0;
  font-size: 1.4rem;
  line-height: 20px;
  margin-bottom: 0.7rem; }
  .tourists .tourists_title.tourists_adult {
    padding-left: 3.5rem;
    background: url("../img/icon__adults.jpg") 0 50% no-repeat; }
  .tourists .tourists_title.tourists_child {
    padding-left: 2.8rem;
    background: url("../img/icon__child.jpg") 0 50% no-repeat; }
  .tourists .tourists_title.tourists_baby {
    padding-left: 2rem;
    background: url("../img/icon__baby.jpg") 0 50% no-repeat; }
.tourists .tourists_selection {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 -0.3rem 1.5rem -0.3rem; }
  .tourists .tourists_selection > li {
    width: 25%;
    padding: 0 0.3rem;
    display: inline-block; }
.tourists .tourists_radio {
  width: 100%;
  font-weight: 400;
  display: inline-block; }
  .tourists .tourists_radio input {
    display: none; }
  .tourists .tourists_radio span {
    width: 100%;
    height: 2.8rem;
    color: #737d80;
    cursor: pointer;
    background: #fff;
    padding: 0.4rem 0;
    font-size: 1.4rem;
    line-height: 2rem;
    position: relative;
    text-align: center;
    display: inline-block;
    border: 1px solid #c6c7c8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
  .tourists .tourists_radio input:checked + span {
    color: #fff;
    background-color: #059bce;
    border: 1px solid #059bce; }
.tourists .selection_dropdown {
  width: 230px; }

.period .selection_dropdown {
  left: auto;
  right: 0;
  width: 230px; }
.period .period_info {
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-bottom: 0.5rem; }
@media (min-width: 1024px) {
  .period .selection_dropdown {
    left: 0;
    right: auto; } }

.form_number {
  padding: 0 2rem;
  position: relative; }
  .form_number .form_number_value {
    width: 100%;
    display: block;
    color: #666;
    outline: none;
    background: #fff;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2rem;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 0.2rem 0.5rem;
    border: 1px solid #c2c2c2; }
  .form_number .form_number_change {
    top: 0;
    bottom: 0;
    z-index: 10;
    color: #007cc0;
    cursor: pointer;
    padding: 0.4rem 0;
    font-size: 1.6rem;
    line-height: 1.6rem;
    position: absolute; }
    .form_number .form_number_change.form_number_minus {
      left: 0; }
    .form_number .form_number_change.form_number_plus {
      right: 0; }

.btn {
  color: #ed6f00;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  padding: 0.9rem 2rem;
  outline: none;
  cursor: pointer;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  border: 1px solid #ed6f00;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  .btn:hover {
    color: #fff;
    text-decoration: none;
    background: #ed6f00; }
  .btn:focus, .btn.focus {
    outline: 0; }

.btn_orange {
  color: #fff;
  background: #ed6f00; }
  .btn_orange:hover {
    color: #fff;
    background: #a14b00;
    border-color: #a14b00; }

.btn_group {
  padding: 0;
  font-size: 0;
  line-height: 0;
  margin: 0 -1rem;
  list-style: none; }
  .btn_group > li {
    padding: 0 1rem;
    display: inline-block; }

.selectric-wrapper {
  position: relative;
  cursor: pointer; }

.selectric-responsive {
  width: 100%; }

.selectric {
  border: none;
  display: inline-block;
  background: transparent;
  position: relative; }
  .selectric .label {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none; }
  .selectric .button {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center; }

.selectric-open {
  z-index: 800; }
  .selectric-open .selectric-items {
    display: block; }

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  user-select: none; }

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0; }
  .selectric-hide-select select {
    position: absolute;
    left: -100%; }
  .selectric-hide-select.selectric-is-native {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10; }
    .selectric-hide-select.selectric-is-native select {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border: none;
      z-index: 1;
      box-sizing: border-box;
      opacity: 0; }

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important; }

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important; }

/* Items box */
.selectric-items {
  display: none;
  outline: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1; }
  .selectric-items .selectric-scroll {
    height: 100%;
    overflow: auto; }
  .selectric-above .selectric-items {
    top: auto;
    bottom: 100%; }
  .selectric-items ul, .selectric-items li {
    list-style: none;
    padding: 0;
    margin: 0; }
  .selectric-items li {
    display: block;
    cursor: pointer; }
  .selectric-items .disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default !important;
    background: none !important;
    user-select: none; }
  .selectric-items .selectric-group .selectric-group-label {
    cursor: default;
    user-select: none;
    background: none; }
  .selectric-items .selectric-group.disabled li {
    filter: alpha(opacity=100);
    opacity: 1; }

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  .embed-responsive::before {
    display: block;
    content: ""; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%; }

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.text-justify {
  text-align: justify !important; }

.text-nowrap {
  white-space: nowrap !important; }

.text-lowercase {
  text-transform: lowercase !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.text-capitalize {
  text-transform: capitalize !important; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #212529;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #f4f4f4;
  font-size: 1.6rem;
  line-height: 1.5; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 740px; } }
  @media (min-width: 1024px) {
    .container {
      width: 990px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }
  @media (min-width: 1340px) {
    .container {
      width: 1170px; } }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding: 0; }

h1, .h1 {
  font-weight: 500;
  font-size: 3.2rem;
  margin-bottom: 2rem;
  font-family: "Roboto", Arial, sans-serif; }

h2, .h2 {
  font-weight: 500;
  font-size: 2.8rem;
  margin-bottom: 2rem;
  font-family: "Roboto", Arial, sans-serif; }

h3, .h3 {
  font-weight: 500;
  font-size: 2.2rem;
  margin-bottom: 2rem;
  font-family: "Roboto", Arial, sans-serif; }

h4, .h4 {
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-family: "Roboto", Arial, sans-serif; }

h5, .h5 {
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 1.6rem;
  font-family: "Roboto", Arial, sans-serif; }

h6, .h6 {
  font-size: 1.2rem;
  margin-bottom: 1.4rem;
  font-family: "Roboto", Arial, sans-serif; }

a {
  outline: none;
  color: #48afe2;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:hover {
    color: #1e8abf;
    text-decoration: underline; }

.body {
  overflow-x: hidden; }

.page {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .page.open {
    height: 100vh;
    overflow: hidden; }
    .page.open .main__nav {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .page.open .main__filter {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  @media (min-width: 1024px) {
    .page.open {
      height: auto;
      overflow: inherit; }
    .page .btn_filter {
      display: none; } }

.main {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .main__container {
    max-width: 1440px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .main__nav {
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100vh;
    width: 280px;
    display: block;
    position: fixed;
    min-width: 250px;
    background: #306ba3;
    padding-top: 30px;
    -webkit-transform: translateX(-280px);
    transform: translateX(-280px);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .main__nav_close {
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      z-index: 100;
      cursor: pointer;
      position: absolute;
      display: inline-block; }
      .main__nav_close:after, .main__nav_close:before {
        top: 50%;
        left: 50%;
        content: '';
        width: 30px;
        height: 2px;
        background: #fff;
        position: absolute;
        margin: -1px 0 0 -15px; }
      .main__nav_close:after {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      .main__nav_close:before {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
  .main__content {
    background: #fff;
    max-width: 940px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .main__sidebar {
    top: 0;
    right: 0;
    z-index: 1000;
    height: 100vh;
    width: 280px;
    display: block;
    position: fixed;
    min-width: 280px;
    background: #fff;
    border-left: 4px solid #f4f4f4;
    -webkit-transform: translateX(280px);
    transform: translateX(280px);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .main__sidebar.open {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3); }
      .main__sidebar.open .main__sidebar_layout {
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 50;
        width: 100vw;
        position: absolute; }
  .main__search {
    padding: 2.5rem 1.5rem; }
  .main__wrap {
    padding: 3rem 1.5rem 4rem 1.5rem; }
  @media (min-width: 768px) {
    .main__search {
      padding-top: 8rem;
      background: url("../img/fon_search_page.jpg") 50% 50% no-repeat;
      background-size: cover; } }
  @media (min-width: 1024px) {
    .main__container {
      height: 100%; }
    .main__nav {
      top: auto;
      left: auto;
      width: 250px;
      height: auto;
      padding-top: 0;
      position: relative;
      -webkit-transform: translateX(0);
      transform: translateX(0);
      -webkit-transition: 0s;
      -o-transition: 0s;
      transition: 0s; }
      .main__nav_close {
        display: none; } }
  @media (min-width: 1340px) {
    .main__sidebar {
      top: auto;
      left: auto;
      width: 250px;
      height: auto;
      display: block;
      padding-top: 0;
      position: relative;
      -webkit-transform: translateX(0);
      transform: translateX(0);
      -webkit-transition: 0s;
      -o-transition: 0s;
      transition: 0s; }
      .main__sidebar.open {
        -webkit-box-shadow: none;
        box-shadow: none; } }

.searchBlock__nav {
  margin: 0;
  padding: 0;
  z-index: 20;
  list-style: none;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .searchBlock__nav > li:first-child {
    margin-right: 1rem; }
  .searchBlock__nav > li:last-child > a:before {
    left: -10px; }
  .searchBlock__nav > li > a {
    color: #fff;
    padding: 1rem;
    font-size: 1.4rem;
    line-height: 2rem;
    position: relative;
    display: inline-block;
    background: #ed6f00;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0; }
    .searchBlock__nav > li > a:before {
      left: 0;
      right: -12px;
      top: 100%;
      height: 5px;
      content: '';
      background: #fff;
      display: inline-block;
      position: absolute; }
    .searchBlock__nav > li > a:hover {
      text-decoration: none;
      background: #a14b00; }
  .searchBlock__nav > li.active > a {
    color: #000;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.15); }
.searchBlock__content {
  z-index: 10;
  position: relative;
  padding: 2rem 1.5rem;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.15); }
.searchBlock__row {
  padding: 0;
  margin: -0.5rem 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .searchBlock__row > li {
    width: 50%;
    padding: 0 0.5rem;
    margin-bottom: 1.5rem; }
    .searchBlock__row > li:nth-child(1) .selectric-wrapper .selectric {
      padding-left: 2.4rem; }
      .searchBlock__row > li:nth-child(1) .selectric-wrapper .selectric:before {
        height: 4rem;
        top: 0;
        z-index: 10;
        left: 0.7rem;
        color: #000;
        opacity: 0.5;
        padding: 1.2rem 0;
        content: "\f041";
        font-size: 1.6rem;
        line-height: 1.6rem;
        position: absolute;
        font-family: FontAwesome; }
    .searchBlock__row > li:nth-child(7) {
      width: 100%; }
.searchBlock .btn {
  width: 100%; }
  .searchBlock .btn span {
    padding-left: 0.7rem; }
@media (min-width: 768px) {
  .searchBlock__nav {
    margin-bottom: -1px; }
    .searchBlock__nav > li > a:before {
      display: none; }
    .searchBlock__nav > li.active > a {
      -webkit-box-shadow: none;
      box-shadow: none; }
  .searchBlock__content {
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .searchBlock__row {
    margin: 0;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap; }
    .searchBlock__row > li {
      padding: 0;
      width: auto;
      margin-bottom: 0; }
      .searchBlock__row > li:nth-child(1) {
        min-width: 150px;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; }
        .searchBlock__row > li:nth-child(1) .selectric-wrapper .selectric {
          border-left: none; }
      .searchBlock__row > li:nth-child(2) {
        width: 130px;
        min-width: 130px; }
      .searchBlock__row > li:nth-child(3) .selection .selection_label {
        border-right: none; }
      .searchBlock__row > li:nth-child(4) {
        width: 120px;
        min-width: 120px; }
        .searchBlock__row > li:nth-child(4) .selection .selection_label {
          border-right: none; }
      .searchBlock__row > li:nth-child(5) {
        width: 120px;
        min-width: 120px; }
      .searchBlock__row > li:nth-child(6) {
        width: auto; }
    .searchBlock__row .btn {
      width: 50px;
      padding: 0.9rem 1rem; }
      .searchBlock__row .btn span {
        display: none; }
  .searchBlock .form_control {
    border-right: none; }
  .searchBlock .selectric-wrapper .selectric {
    border-right: none; } }
@media (min-width: 1340px) {
  .searchBlock__row {
    margin: 0;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap; }
    .searchBlock__row > li {
      padding: 0;
      width: auto;
      margin-bottom: 0; }
      .searchBlock__row > li:nth-child(1) {
        min-width: 150px;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; }
        .searchBlock__row > li:nth-child(1) .selectric-wrapper .selectric {
          border-left: none; }
      .searchBlock__row > li:nth-child(2) {
        width: 130px;
        min-width: 130px; }
      .searchBlock__row > li:nth-child(3) .selection .selection_label {
        border-right: none; }
      .searchBlock__row > li:nth-child(4) {
        width: 120px;
        min-width: 120px; }
        .searchBlock__row > li:nth-child(4) .selection .selection_label {
          border-right: none; }
      .searchBlock__row > li:nth-child(5) {
        width: 150px;
        min-width: 150px; }
      .searchBlock__row > li:nth-child(6) {
        width: auto; }
    .searchBlock__row .btn {
      width: 50px;
      padding: 0.9rem 1rem; }
      .searchBlock__row .btn span {
        display: none; } }

.tabs_item {
  display: none; }
  .tabs_item.active {
    display: block; }

.divider {
  margin: 3rem -1.5rem;
  border-bottom: 1px solid #f4f4f4; }

.goods {
  color: #45464a;
  max-width: 360px;
  text-decoration: none;
  margin: 0 auto 2rem auto;
  border: 1px solid #c0dee8;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .goods:hover {
    text-decoration: none;
    background: rgba(192, 222, 232, 0.3);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .goods__image {
    height: 240px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; }
  .goods__content {
    padding: 1.5rem; }
    .goods__content_right {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: end;
      -ms-flex-align: end;
      -webkit-align-items: flex-end;
      -moz-align-items: flex-end;
      align-items: flex-end;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; }
  .goods__rate {
    width: 100%;
    margin-bottom: 0.5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
    .goods__rate_star {
      color: #FBD000;
      padding: 0.3rem 0;
      font-size: 1.6rem;
      line-height: 1.6rem;
      display: inline-block; }
    .goods__rate_rating {
      color: #fff;
      padding: 0.3rem;
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 1.6rem;
      display: inline-block;
      background: #79ba00;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px; }
      .goods__rate_rating.rating_good {
        background: #79ba00; }
  .goods__name {
    color: #45464a;
    display: inline-block;
    font-size: 2.4rem;
    line-height: 2.6rem; }
  .goods__place {
    color: #fb7600;
    font-size: 1.3rem;
    line-height: 1.6rem;
    margin-bottom: 1.5rem; }
  .goods__params {
    width: 100%;
    color: #45464a;
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 1rem; }
    .goods__params span {
      padding-right: 0.6rem;
      display: inline-block; }
      .goods__params span i {
        font-size: 2rem;
        line-height: 2rem;
        margin-right: 0.5rem;
        color: #48afe2; }
  .goods__price {
    text-align: right;
    display: inline-block; }
    .goods__price_old {
      width: 100%;
      display: inline-block;
      color: #fb7600;
      text-decoration: line-through;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 2.4rem; }
      .goods__price_old strong {
        font-weight: 400; }
    .goods__price_new {
      color: #45464a;
      font-size: 1.4rem;
      line-height: 2.4rem; }
      .goods__price_new strong {
        font-size: 2.4rem; }
  @media (min-width: 768px) {
    .goods {
      width: 100%;
      max-width: inherit;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; }
      .goods__image {
        width: 280px;
        height: auto; }
      .goods__content {
        padding: 2rem;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        -moz-align-items: flex-start;
        align-items: flex-start;
        -webkit-align-content: flex-start;
        -moz-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-between; }
        .goods__content_left {
          width: 50%;
          min-width: 50%; }
        .goods__content_right {
          width: 50%;
          min-width: 50%;
          -webkit-box-pack: end;
          -ms-flex-pack: end;
          -webkit-justify-content: flex-end;
          -moz-justify-content: flex-end;
          justify-content: flex-end; }
      .goods__rate {
        margin-bottom: 2rem; }
      .goods__params {
        width: 100%;
        text-align: right; }
        .goods__params span {
          padding: 0 0 0 0.6rem; }
      .goods__price {
        padding-right: 2rem; } }

.goods_filter {
  max-width: 360px;
  margin: 0 auto 1.25rem auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
  .goods_filter .goods_sort {
    width: 200px; }
  .goods_filter .btn_filter {
    width: 4rem;
    height: 4rem;
    color: #666;
    cursor: pointer;
    padding: 0.6rem 0;
    font-size: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    background: #fff;
    display: inline-block;
    border: 1px solid #c2c2c2; }
    .goods_filter .btn_filter:hover {
      color: #ed6f00; }
  @media (min-width: 768px) {
    .goods_filter {
      max-width: inherit; } }
  @media (min-width: 1340px) {
    .goods_filter .btn_filter {
      display: none; } }

.news {
  max-width: 360px;
  margin: 0 auto 2rem auto;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #808080;
  font-size: 1.4rem;
  line-height: 2rem;
  text-decoration: none;
  border: 1px solid #c0dee8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .news:hover {
    color: #808080;
    text-decoration: none;
    background: rgba(192, 222, 232, 0.3);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .news:hover .news__tag span {
      background: #fff; }
  .news__image {
    display: block; }
  .news__content {
    padding: 1.5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .news h4 {
    padding: 0;
    color: #212529;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
    margin: 0 0 0.8rem 0; }
  .news__text {
    padding-bottom: 1rem;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .news__tag {
    font-size: 0;
    line-height: 0;
    margin: 0 -3px; }
    .news__tag span {
      color: #444;
      background: #F0F0F0;
      padding: 4px;
      font-size: 1.1rem;
      line-height: 1.5rem;
      font-weight: bold;
      margin: 0 0.4rem 0.8rem 0.4rem;
      display: inline-block; }
  @media (min-width: 768px) {
    .news {
      width: 100%;
      max-width: inherit;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; }
      .news__image {
        width: 220px;
        min-width: 220px;
        min-height: 100%; }
      .news__content {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; } }

.post__date {
  margin-bottom: 5px;
  display: inline-block;
  color: #222;
  font-size: 12px;
  padding: 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background: #f1f1f1;
  line-height: 12px; }
.post__image {
  margin-bottom: 20px; }
.post p {
  margin-bottom: 0; }
.post__content {
  margin-bottom: 25px; }
.post__tags {
  margin: 0;
  padding: 1rem 0;
  font-size: 1.3rem;
  line-height: 1.6rem;
  list-style: none;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0; }
  .post__tags li {
    display: inline-block; }
    .post__tags li a {
      color: #3b73b4;
      text-decoration: none; }
      .post__tags li a:hover {
        color: #fb7600; }
    .post__tags li:after {
      color: #ccc;
      content: '|';
      padding: 0 8px; }
    .post__tags li:last-child:after {
      display: none; }

.modal {
  max-width: 320px;
  background: #fff;
  padding: 2rem 1.5rem; }
  .modal__city_active {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.6rem;
    margin-bottom: 3rem; }
  @media (min-width: 768px) {
    .modal {
      max-width: 420px;
      padding: 3rem 4rem;
      width: 420px; } }

.authModal {
  padding: 0;
  width: 290px;
  height: 370px;
  background: #fff; }
  .authModal__nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .authModal__nav > li {
      width: 50%; }
      .authModal__nav > li a {
        width: 100%;
        outline: none;
        font-weight: 600;
        color: #212529;
        background: #fff;
        font-size: 1.6rem;
        line-height: 2rem;
        text-align: center;
        text-decoration: none;
        padding: 1rem 0.5rem;
        display: inline-block;
        text-transform: uppercase; }
        .authModal__nav > li a:hover {
          text-decoration: none; }
      .authModal__nav > li.active a {
        color: #fff;
        background: #ed6f00; }
  .authModal__content {
    padding: 2rem 1.5rem 4rem 1.5rem; }
  .authModal__divider {
    color: #666;
    max-width: 100%;
    overflow: hidden;
    line-height: 2rem;
    font-size: 1.2rem;
    text-align: center;
    padding: 2rem 0; }
    .authModal__divider span {
      padding: 0 0.7rem;
      position: relative;
      display: inline-block; }
      .authModal__divider span:after, .authModal__divider span:before {
        top: 50%;
        z-index: 1;
        content: '';
        height: 1px;
        width: 200px;
        display: block;
        margin-top: 2px;
        background: #f1f1f1;
        position: absolute; }
      .authModal__divider span:after {
        left: -200px; }
      .authModal__divider span:before {
        right: -200px; }
  .authModal .btn_send {
    width: 100%; }
  .authModal .fancybox-close-small {
    display: none !important; }
  @media (min-width: 768px) {
    .authModal {
      width: 380px; }
      .authModal__content {
        padding: 3rem 4rem 4rem 4rem; } }

.social {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 -0.5rem;
  text-align: center; }
  .social > li {
    padding: 0 0.5rem;
    display: inline-block; }
    .social > li a {
      width: 3.6rem;
      height: 3.6rem;
      color: #306ba3;
      font-size: 1.8rem;
      line-height: 2rem;
      padding: 0.6rem 0;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      background: transparent;
      border: 1px solid #306ba3;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .social > li a:hover {
        color: #fff;
        background: #306ba3;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }

.hotel_heading {
  padding: 1.5rem 1.5rem;
  border-bottom: 1px solid #f4f4f4; }
  .hotel_heading:before, .hotel_heading:after {
    content: " ";
    display: table; }
  .hotel_heading:after {
    clear: both; }
  .hotel_heading h1 {
    width: 100%;
    float: left;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 5px;
    color: #79ba00; }
  .hotel_heading_star {
    float: left;
    font-size: 20px;
    line-height: 20px;
    color: #ed6f00; }
    .hotel_heading_star i {
      margin-right: 3px; }
  .hotel_heading_like {
    float: left;
    font-size: 20px;
    line-height: 20px;
    margin-left: 20px;
    color: #ed6f00; }
  .hotel_heading_country {
    width: 100%;
    float: left;
    font-size: 13px;
    line-height: 20px;
    color: #ed6f00; }
  @media (min-width: 1024px) {
    .hotel_heading h1 {
      width: auto;
      margin-bottom: 0; }
    .hotel_heading_star {
      float: left;
      width: auto;
      padding: 5px 0;
      margin-left: 20px; }
    .hotel_heading_like {
      padding: 5px 0; }
    .hotel_heading_country {
      float: left;
      width: 100%; } }

.hotel_slider {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  table-layout: fixed;
  margin-bottom: 3rem; }
  .hotel_slider_body {
    margin-bottom: 10px; }
  .hotel_slider_item {
    width: 100%;
    position: relative; }
  .hotel_slider_image {
    height: auto;
    display: block;
    max-width: 100%; }
  .hotel_slider .swiper-slide {
    width: 100% !important; }
  .hotel_slider_thumbs {
    padding: 0;
    list-style: none;
    margin: 0 -0.5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .hotel_slider_thumbs > li {
      width: 25%;
      padding: 0.5rem; }
      .hotel_slider_thumbs > li a {
        display: block;
        position: relative; }
        .hotel_slider_thumbs > li a:before {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: '';
          opacity: 0;
          visibility: hidden;
          position: absolute;
          border: 2px solid #48afe2; }
      .hotel_slider_thumbs > li.active a:before {
        opacity: 1;
        visibility: visible; }
  @media (min-width: 768px) {
    .hotel_slider_thumbs > li {
      width: 14.28%; } }

.hotel_content {
  color: #666;
  margin-bottom: 3rem; }
  .hotel_content h2 {
    margin-bottom: 20px; }
  .hotel_content p {
    color: #222;
    margin-bottom: 15px; }

.hotel_service {
  margin: 0 -1.5rem 3rem -1.5rem;
  padding: 3rem 2rem;
  background: #f4f4f4; }
  .hotel_service > ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .hotel_service > ul > li {
      margin-bottom: 4rem; }
  .hotel_service_icon {
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  .hotel_service_item {
    position: relative;
    padding: 5px 0 0 52px; }
    .hotel_service_item h4 {
      color: #000;
      font-size: 1.6rem;
      margin: 0 0 8px 0; }
    .hotel_service_item ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .hotel_service_item ul li {
        color: #666;
        padding: 3px 0;
        font-size: 1.3rem;
        line-height: 1.8rem; }
        .hotel_service_item ul li:before {
          content: "-";
          margin-right: 5px; }
  @media (min-width: 768px) {
    .hotel_service > ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .hotel_service > ul > li {
        width: 33.33%; } }

.hotel_map_wrap {
  width: 100%;
  height: 500px;
  max-width: 100%; }

.header__container {
  padding: 0 1.5rem;
  max-width: 1440px;
  position: relative; }
  .header__container:before, .header__container:after {
    content: " ";
    display: table; }
  .header__container:after {
    clear: both; }
.header__top {
  color: #fff;
  padding: 1rem 0;
  background: #1b1f22; }
  .header__top_logo {
    float: left;
    width: 130px;
    display: block;
    padding: 1rem 0; }
.header__toggle {
  float: left;
  width: 40px;
  height: 40px;
  font-size: 0;
  line-height: 0;
  padding: 1rem;
  background: #444;
  margin-left: -0.5rem;
  margin-right: 1.5rem;
  display: inline-block;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  border-radius: 0.3rem; }
  .header__toggle span {
    width: 100%;
    height: 0.3rem;
    background: #fff;
    margin-bottom: 0.6rem;
    display: inline-block; }
    .header__toggle span:last-child {
      margin-bottom: 0; }
.header__time {
  color: #fff;
  float: left;
  display: none;
  cursor: pointer;
  font-size: 1.4rem;
  line-height: 2rem;
  text-decoration: none; }
  .header__time i {
    margin-right: 0.7rem; }
  .header__time:hover span {
    text-decoration: underline; }
.header__city {
  width: 4rem;
  color: #fff;
  float: right;
  padding: 1rem 0;
  font-size: 2rem;
  background: #444;
  line-height: 2rem;
  text-align: center;
  margin-left: 1.5rem;
  text-decoration: none;
  display: inline-block;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  border-radius: 0.3rem; }
  .header__city span {
    display: none; }
  .header__city:hover {
    color: #fff; }
    .header__city:hover span {
      text-decoration: underline; }
.header__divider {
  color: #fff;
  float: left;
  font-size: 1.4rem;
  padding: 0 1rem;
  line-height: 1.5rem;
  display: none; }
.header__login {
  width: 4rem;
  color: #fff;
  float: right;
  padding: 1rem 0;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background: #444;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  border-radius: 0.3rem; }
  .header__login span {
    display: none; }
  .header__login:hover {
    color: #fff; }
    .header__login:hover span {
      text-decoration: underline; }
.header__menu {
  background: #60aaf8; }
.header__logo {
  display: none; }
.header__nav {
  padding: 0;
  margin: 0 -1.5rem;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .header__nav > li {
    width: 50%;
    border-bottom: 1px solid #fff; }
    .header__nav > li:nth-child(1) {
      border-right: 1px solid #fff; }
    .header__nav > li:nth-child(3) {
      display: none; }
    .header__nav > li:nth-child(4) {
      border-right: 1px solid #fff; }
    .header__nav > li a {
      color: #fff;
      width: 100%;
      font-size: 1.4rem;
      line-height: 2rem;
      text-align: center;
      padding: 0 0.5rem;
      display: inline-block;
      text-decoration: none;
      background: transparent;
      white-space: nowrap; }
      .header__nav > li a span {
        padding: 1.2rem 0;
        position: relative;
        display: inline-block; }
      .header__nav > li a:hover {
        color: #fff;
        background: #306ba3;
        text-decoration: none; }
@media (min-width: 768px) {
  .header__nav {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap; }
    .header__nav > li {
      width: auto;
      border-bottom: none;
      border-right: none;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -moz-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
      .header__nav > li:nth-child(1) {
        border-right: none; }
      .header__nav > li:nth-child(3) {
        display: block; }
      .header__nav > li:nth-child(4) {
        border-right: none; }
      .header__nav > li:nth-child(5) {
        border-right: none; }
      .header__nav > li a span {
        padding: 1.8rem 0; } }
@media (min-width: 1024px) {
  .header__top_logo {
    display: none; }
  .header__toggle {
    display: none; }
  .header__time {
    display: inline-block; }
  .header__divider {
    display: inline-block; }
  .header__city {
    margin: 0;
    padding: 0;
    float: left;
    width: auto;
    font-size: 1.4rem;
    background: transparent; }
    .header__city i {
      margin-right: 0.7rem; }
    .header__city span {
      display: inline; }
  .header__login {
    margin: 0;
    padding: 0;
    width: auto;
    float: right;
    font-size: 1.4rem;
    background: transparent; }
    .header__login i {
      margin-right: 0.7rem; }
    .header__login span {
      display: inline; }
  .header__menu .header__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
  .header__logo {
    width: 250px;
    display: block;
    min-width: 250px;
    padding: 1.1rem 3rem 1.1rem 1rem; }
  .header__nav {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; } }
@media (min-width: 1200px) {
  .header__nav > li a span {
    padding-left: 2.5rem; }
    .header__nav > li a span:before {
      left: 0;
      top: 50%;
      content: '';
      height: 20px;
      margin-top: -10px;
      position: absolute;
      display: inline-block;
      background: url("../img/sprite_menu.png") no-repeat; }
  .header__nav > li:nth-child(1) a span {
    padding-left: 2.2rem; }
    .header__nav > li:nth-child(1) a span:before {
      width: 13px;
      background-position: 0 0; }
  .header__nav > li:nth-child(2) a span:before {
    width: 16px;
    background-position: 0 -40px; }
  .header__nav > li:nth-child(3) a span:before {
    width: 18px;
    background-position: 0 -20px; }
  .header__nav > li:nth-child(4) a span {
    padding-left: 3.3rem; }
    .header__nav > li:nth-child(4) a span:before {
      width: 28px;
      background-position: 0 -60px; }
  .header__nav > li:nth-child(5) {
    width: 247px;
    max-width: 247px; }
    .header__nav > li:nth-child(5) a span {
      padding-left: 2.6rem; }
      .header__nav > li:nth-child(5) a span:before {
        width: 20px;
        height: 20px;
        background-position: 0 -80px; } }

.footer {
  padding: 2rem 0;
  background: #1b1f22; }
  .footer__container {
    padding: 0 2rem;
    max-width: 1440px;
    position: relative; }
  .footer__logo {
    font-size: 0;
    line-height: 0;
    margin-bottom: 20px; }
    .footer__logo a {
      width: 209px;
      display: block;
      text-decoration: none; }
  .footer__address {
    color: #f1f1f1;
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 15px; }
    .footer__address a {
      color: #f1f1f1;
      text-decoration: none; }
  .footer__nav {
    margin: 0 0 15px -10px; }
    .footer__nav ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .footer__nav ul li a {
        color: #f1f1f1;
        font-size: 13px;
        line-height: 14px;
        padding: 3px 10px;
        display: inline-block;
        white-space: nowrap;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .footer__nav ul li a:hover {
          color: #f1f1f1;
          text-decoration: underline;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
  .footer__android {
    float: left;
    width: 120px;
    font-size: 0;
    line-height: 0;
    display: block;
    cursor: pointer;
    text-decoration: none;
    margin: 0 10px 10px 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
    .footer__android:hover {
      color: #ff952c;
      background: #343434;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .footer__android img {
      overflow: hidden;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
  .footer__info {
    font-size: 0;
    line-height: 0;
    margin: 0 -10px; }
    .footer__info:before, .footer__info:after {
      content: " ";
      display: table; }
    .footer__info:after {
      clear: both; }
  .footer__age {
    float: left;
    height: 27px;
    width: 27px;
    display: inline-block;
    text-decoration: none;
    margin: 8px 10px 10px 10px;
    background: url("../img/age.jpg") no-repeat; }
  .footer__counter {
    float: left;
    text-decoration: none;
    display: inline-block;
    margin: 5px 10px 10px 10px; }
  @media (min-width: 768px) {
    .footer__row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; }
    .footer__logo {
      width: 100%;
      margin-bottom: 30px; }
    .footer__address {
      width: 40%;
      margin-bottom: 0; }
    .footer__nav {
      width: 55%;
      margin-bottom: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; }
      .footer__nav ul {
        width: 50%; }
    .footer__info {
      top: 20px;
      right: 20px;
      margin-bottom: 0;
      position: absolute; } }
  @media (min-width: 1024px) {
    .footer {
      height: auto !important; }
      .footer__row {
        -webkit-flex-wrap: nowrap;
        -moz-flex-wrap: nowrap;
        -ms-flex-wrap: none;
        flex-wrap: nowrap; }
      .footer__logo {
        width: 225px;
        min-width: 225px;
        margin-top: 20px; }
      .footer__address {
        width: 190px; }
      .footer__nav {
        width: auto; }
      .footer__info {
        top: auto;
        right: auto;
        padding-top: 20px;
        position: relative; } }
  @media (min-width: 1200px) {
    .footer__nav {
      width: 560px; } }

.sidenav__one {
  border-bottom: 1px solid #35567d; }
  .sidenav__one > li:nth-child(1) > a:before {
    background-position: 0 -210px; }
  .sidenav__one > li:nth-child(2) > a:before {
    background-position: 0 -235px; }
  .sidenav__one > li:nth-child(3) > a:before {
    background-position: 0 -260px; }
.sidenav__two > li:nth-child(1) > a:before {
  background-position: 0 -285px; }
.sidenav__two > li:nth-child(2) > a:before {
  background-position: 0 -310px; }
.sidenav ul {
  margin: 0;
  padding: 1rem 0;
  list-style: none; }
  .sidenav ul > li > a {
    color: #fff;
    width: 100%;
    font-size: 1.4rem;
    line-height: 2rem;
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 1rem 1rem 4.7rem;
    border-left: 0.3rem solid transparent; }
    .sidenav ul > li > a:before {
      top: 50%;
      left: 1.7rem;
      width: 24px;
      height: 24px;
      content: '';
      margin-top: -12px;
      position: absolute;
      display: inline-block;
      vertical-align: middle;
      background: #ff952c url("../img/sprite_menu.png") no-repeat;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    .sidenav ul > li > a:hover {
      color: #fff;
      background: #60aaf8;
      text-decoration: none; }
      .sidenav ul > li > a:hover:before {
        background-color: #fff; }

.countries__heading {
  color: #333;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  position: relative;
  padding: 1rem 1rem 1rem 1.5rem;
  border-bottom: 1px solid #f4f4f4; }
  .countries__heading:before {
    top: 50%;
    content: '';
    right: 1rem;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    position: absolute;
    display: inline-block;
    background: url("../img/orange_earth.jpg") 0 0 no-repeat; }
.countries__list {
  margin: 0;
  padding: 0.5rem 0; }
.countries__item {
  color: #585858;
  font-size: 1.2rem;
  line-height: 2rem;
  position: relative;
  text-decoration: none;
  padding: 0.3rem 1rem 0.3rem 4.3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
  .countries__item:before {
    top: 50%;
    content: '';
    width: 27px;
    height: 20px;
    left: 1rem;
    margin-top: -10px;
    position: absolute;
    display: inline-block;
    background: url("../img/country3.png") no-repeat; }
  .countries__item:hover {
    text-decoration: none;
    background-color: #f1f7fa; }
  .countries__item.flag_ab:before {
    background-position: -6px -4px; }
  .countries__item.flag_at:before {
    background-position: -6px -26px; }
  .countries__item.flag_az:before {
    background-position: -6px -48px; }
  .countries__item.flag_ad:before {
    background-position: -6px -69px; }
  .countries__item.flag_am:before {
    background-position: -6px -91px; }
  .countries__item.flag_bh:before {
    background-position: -6px -113px; }
  .countries__item.flag_by:before {
    background-position: -6px -136px; }
  .countries__item.flag_be:before {
    background-position: -6px -157px; }
  .countries__item.flag_bg:before {
    background-position: -6px -178px; }
  .countries__item.flag_gb:before {
    background-position: -6px -200px; }
  .countries__item.flag_hy:before {
    background-position: -6px -223px; }
  .countries__item.flag_vn:before {
    background-position: -6px -245px; }
  .countries__item.flag_gr:before {
    background-position: -6px -266px; }
  .countries__item.flag_ge:before {
    background-position: -6px -288px; }
  .countries__item.flag_dk:before {
    background-position: -6px -310px; }
  .countries__item.flag_il:before {
    background-position: -6px -332px; }
  .countries__item.flag_io:before {
    background-position: -6px -376px; }
  .countries__item.flag_ie:before {
    background-position: -6px -397px; }
  .countries__item.flag_es:before {
    background-position: -6px -442px; }
  .countries__item.flag_it:before {
    background-position: -6px -463px; }
  .countries__item.flag_qa:before {
    background-position: -6px -485px; }
  .countries__item.flag_cy:before {
    background-position: -6px -508px; }
  .countries__item.flag_cn:before {
    background-position: -6px -529px; }
  .countries__item.flag_lv:before {
    background-position: -6px -573px; }
  .countries__item.flag_lt:before {
    background-position: -6px -594px; }
  .countries__item.flag_mv:before {
    background-position: -6px -639px; }
  .countries__item.flag_mt:before {
    background-position: -6px -660px; }
.countries__name {
  color: #0f5fcc;
  font-size: 1.2rem;
  display: inline-block;
  text-decoration: underline; }
.countries__price {
  color: #585858;
  font-size: 1.2rem;
  padding-right: 1.5rem;
  position: relative;
  display: inline-block; }
  .countries__price:before {
    top: 0;
    right: 0;
    color: #0f5fcc;
    content: "\f158";
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding: 0.3rem 0;
    position: absolute;
    display: inline-block;
    font-family: FontAwesome; }

.filters {
  z-index: 100;
  height: 100%;
  background: #fff;
  overflow: hidden;
  position: relative; }
  .filters__close {
    top: 0;
    right: 0;
    z-index: 100;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    display: inline-block; }
    .filters__close:after, .filters__close:before {
      top: 50%;
      left: 50%;
      content: '';
      width: 30px;
      height: 2px;
      background: #ed6f00;
      position: absolute;
      margin: -1px 0 0 -15px; }
    .filters__close:after {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .filters__close:before {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .filters__content {
    height: calc(100vh - 43px);
    overflow-x: hidden;
    overflow-y: auto; }
  .filters__heading {
    color: #333;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    position: relative;
    padding: 1rem 1rem 1.2rem 1.5rem;
    border-bottom: 1px solid #f4f4f4; }
    .filters__heading:before {
      top: 50%;
      content: '';
      right: 1rem;
      width: 21px;
      height: 20px;
      opacity: 0;
      visibility: hidden;
      margin-top: -10px;
      position: absolute;
      display: inline-block;
      background: url("../img/orange_filtr.jpg") 0 0 no-repeat; }
  .filters__box {
    padding: 1rem 1rem 1.5rem 1.5rem;
    border-bottom: 1px solid #f4f4f4; }
    .filters__box_title {
      font-size: 1.6rem;
      line-height: 2rem;
      margin-bottom: 1rem; }
    .filters__box_list {
      margin: 0;
      padding: 0;
      list-style: none; }
      .filters__box_list > li {
        padding: 0.2rem 0; }
  .filters__price {
    margin-right: 10px; }
  @media (min-width: 1340px) {
    .filters {
      height: auto;
      overflow: inherit; }
      .filters__content {
        height: auto;
        overflow-y: inherit; }
      .filters__heading:before {
        opacity: 1;
        visibility: visible; }
      .filters__close {
        display: none; } }

/*# sourceMappingURL=main.css.map */
