.body {
	overflow-x: hidden;
}

.page {
	width: 100%;
	min-height: 100vh;
	@include flexbox();
	@include flex-direction(column);

	&.open {
		height: 100vh;
		overflow: hidden;

		.main__nav {
			-webkit-transform: translateX(0);
			transform: translateX(0);
			@include transition(.3s);
		}

		.main__filter {
			-webkit-transform: translateX(0);
			transform: translateX(0);
			@include transition(.3s);
		}
	}


	@media (min-width: $screen-md-min) {

		&.open {
			height: auto;
			overflow: inherit;
		}

		.btn_filter {
			display: none;
		}
	}
}

.main {
	width: 100%;
	position: relative;
	@include flexbox();
	@include flex-grow(1);
	@include flex-direction(column);

	&__container {
		max-width: 1440px;
		position: relative;
		@include flexbox();
		@include flex-grow(1);
	}

	&__nav {
		top: 0;
		left: 0;
		z-index: 1000;
		height: 100vh;
		width: 280px;
		display: block;
		position: fixed;
		min-width: 250px;
		background: #306ba3;
		padding-top: 30px;
		-webkit-transform: translateX(-280px);
		transform: translateX(-280px);
		@include transition(.3s);

		&_close {
			top: 0;
			right: 0;
			width: 40px;
			height: 40px;
			z-index: 100;
			cursor: pointer;
			position: absolute;
			display: inline-block;

			&:after,
			&:before {
				top: 50%;
				left: 50%;
				content: '';
				width: 30px;
				height: 2px;
				background: #fff;
				position: absolute;
				margin: -1px 0 0 -15px;
			}

			&:after {
				@include rotate(45deg);
			}

			&:before {
				@include rotate(-45deg);
			}
		}
	}

	&__content {
		background: #fff;
		max-width: 940px;
		@include flex-grow(1);
	}

	&__sidebar {
		top: 0;
		right: 0;
		z-index: 1000;
		height: 100vh;
		width: 280px;
		display: block;
		position: fixed;
		min-width: 280px;
		background: #fff;
		border-left: 4px solid #f4f4f4;
		-webkit-transform: translateX(280px);
		transform: translateX(280px);
		@include transition(.3s);

		&.open {
			-webkit-transform: translateX(0);
			transform: translateX(0);
			@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.3));

			.main__sidebar_layout {
				top: 0;
				right: 0;
				bottom: 0;
				z-index: 50;
				width: 100vw;
				position: absolute;
			}
		}
	}

	&__search {
		padding: 2.5rem 1.5rem;
	}

	&__wrap {
		padding: 3rem 1.5rem 4rem 1.5rem;
	}


	@media (min-width: $screen-sm-min) {

		&__search {
			padding-top: 8rem;
			background: url("../img/fon_search_page.jpg") 50% 50% no-repeat;
			background-size: cover;
		}
	}


	@media (min-width: $screen-md-min) {

		&__container {
			height: 100%;
		}

		&__nav {
			top: auto;
			left: auto;
			width: 250px;
			height: auto;
			padding-top: 0;
			position: relative;
			-webkit-transform: translateX(0);
			transform: translateX(0);
			@include transition(0s);

			&_close {
				display: none;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__sidebar {
			top: auto;
			left: auto;
			width: 250px;
			height: auto;
			display: block;
			padding-top: 0;
			position: relative;
			-webkit-transform: translateX(0);
			transform: translateX(0);
			@include transition(0s);

			&.open {
				@include box-shadow(none);
			}
		}
	}
}

.searchBlock {

	&__nav {
		margin: 0;
		padding: 0;
		z-index: 20;
		list-style: none;
		position: relative;
		@include flexbox();

		> li {

			&:first-child {
				margin-right: 1rem;
			}

			&:last-child {

				> a {
					&:before {
						left: -10px;
					}
				}
			}

			> a {
				color: #fff;
				padding: 1rem;
				font-size: 1.4rem;
				line-height: 2rem;
				position: relative;
				display: inline-block;
				background: $color-orange;
				@include border-radius(4px 4px 0 0);

				&:before {
					left: 0;
					right: -12px;
					top: 100%;
					height: 5px;
					content: '';
					background: #fff;
					display: inline-block;
					position: absolute;
				}

				&:hover {
					text-decoration: none;
					background: $color-orange-hover;
				}
			}

			&.active {

				> a {
					color: #000;
					background: #fff;
					@include box-shadow(0 1px 3px 2px rgba(0, 0, 0, 0.15));
				}
			}
		}
	}

	&__content {
		z-index: 10;
		position: relative;
		padding: 2rem 1.5rem;
		background: #fff;
		@include box-shadow(0 1px 3px 2px rgba(0, 0, 0, 0.15));

	}

	&__row {
		padding: 0;
		margin: -0.5rem 0;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);

		> li {
			width: 50%;
			padding: 0 0.5rem;
			margin-bottom: 1.5rem;

			&:nth-child(1) {
				.selectric-wrapper {

					.selectric {
						padding-left: 2.4rem;

						&:before {
							height: 4rem;
							top: 0;
							z-index: 10;
							left: 0.7rem;
							color: #000;
							opacity: 0.5;
							padding: 1.2rem 0;
							content: "\f041";
							font-size: 1.6rem;
							line-height: 1.6rem;
							position: absolute;
							font-family: FontAwesome;
						}
					}
				}
			}

			&:nth-child(7) {
				width: 100%;
			}
		}
	}

	.btn {
		width: 100%;

		span {
			padding-left: 0.7rem;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__nav {
			margin-bottom: -1px;

			> li {

				> a {

					&:before {
						display: none;
					}
				}

				&.active {

					> a {
						@include box-shadow(none);
					}
				}
			}
		}

		&__content {
			padding: 0;
			@include box-shadow(none);
		}

		&__row {
			margin: 0;
			@include flex-wrap(nowrap);

			> li {
				padding: 0;
				width: auto;
				margin-bottom: 0;


				&:nth-child(1){
					min-width: 150px;
					@include flex-grow(1);

					.selectric-wrapper {

						.selectric {
							border-left: none;
						}
					}

				}

				&:nth-child(2) {
					width: 130px;
					min-width: 130px;
				}

				&:nth-child(3) {

					.selection {

						.selection_label {
							border-right: none;
						}
					}

				}

				&:nth-child(4) {
					width: 120px;
					min-width: 120px;

					.selection {

						.selection_label {
							border-right: none;
						}
					}
				}

				&:nth-child(5) {
					width: 120px;
					min-width: 120px;
				}

				&:nth-child(6) {
					width: auto;
				}
			}


			.btn {
				width: 50px;
				padding: 0.9rem 1rem;

				span {
					display: none;
				}
			}
		}

		.form_control {
			border-right: none;
		}

		.selectric-wrapper {

			.selectric {
				border-right: none;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__row {
			margin: 0;
			@include flex-wrap(nowrap);

			> li {
				padding: 0;
				width: auto;
				margin-bottom: 0;


				&:nth-child(1){
					min-width: 150px;
					@include flex-grow(1);

					.selectric-wrapper {

						.selectric {
							border-left: none;
						}
					}

				}

				&:nth-child(2) {
					width: 130px;
					min-width: 130px;
				}

				&:nth-child(3) {

					.selection {

						.selection_label {
							border-right: none;
						}
					}

				}

				&:nth-child(4) {
					width: 120px;
					min-width: 120px;

					.selection {

						.selection_label {
							border-right: none;
						}
					}
				}

				&:nth-child(5) {
					width: 150px;
					min-width: 150px;
				}

				&:nth-child(6) {
					width: auto;
				}
			}


			.btn {
				width: 50px;
				padding: 0.9rem 1rem;

				span {
					display: none;
				}
			}
		}
	}
}

.tabs {

	&_item {
		display: none;

		&.active {
			display: block;
		}
	}
}

.divider {
	margin: 3rem -1.5rem;
	border-bottom: 1px solid #f4f4f4;
}

.goods {
	color: #45464a;
	max-width: 360px;
	text-decoration: none;
	margin: 0 auto 2rem auto;
	border: 1px solid #c0dee8;
	@include transition(.3s);
	@include flexbox();
	@include flex-direction(column);

	&:hover {
		text-decoration: none;
		background: rgba(192,222,232, 0.3);
		@include transition(.3s);
	}


	&__image {
		height: 240px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
	}

	&__content {
		padding: 1.5rem;

		&_right {
			@include flexbox();
			@include flex-wrap(wrap);
			@include align-items(flex-end);
			@include justify-content(space-between);
		}
	}

	&__rate {
		width: 100%;
		margin-bottom: 0.5rem;
		@include flexbox();
		@include justify-content(space-between);

		&_star {
			color: #FBD000;
			padding: 0.3rem 0;
			font-size: 1.6rem;
			line-height: 1.6rem;
			display: inline-block;
		}

		&_rating {
			color: #fff;
			padding: 0.3rem;
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 1.6rem;
			display: inline-block;
			background: $color-green;
			@include border-radius(3px);

			&.rating_good {
				background: $color-green;
			}
		}
	}

	&__name {
		color: #45464a;
		display: inline-block;
		font-size: 2.4rem;
		line-height: 2.6rem;
	}

	&__place {
		color: #fb7600;
		font-size: 1.3rem;
		line-height: 1.6rem;
		margin-bottom: 1.5rem;
	}

	&__params {
		width: 100%;
		color: #45464a;
		font-size: 1.6rem;
		line-height: 2rem;
		margin-bottom: 1rem;

		span {
			padding-right: 0.6rem;

			display: inline-block;

			i {
				font-size: 2rem;
				line-height: 2rem;
				margin-right: 0.5rem;
				color: $color-blue;
			}
		}
	}

	&__price {
		text-align: right;
		display: inline-block;

		&_old {
			width: 100%;
			display: inline-block;
			color: #fb7600;
			text-decoration: line-through;
			font-weight: 400;
			font-size: 1.4rem;
			line-height: 2.4rem;

			strong {
				font-weight: 400;
			}
		}

		&_new {
			color: #45464a;
			font-size: 1.4rem;
			line-height: 2.4rem;

			strong {
				font-size: 2.4rem;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		width: 100%;
		max-width: inherit;
		@include flex-direction(row);

		&__image {
			width: 280px;
			height: auto;
		}

		&__content {
			padding: 2rem;
			@include flexbox();
			@include flex-grow(1);
			@include flex-wrap(wrap);
			@include align-items(flex-start);
			@include align-content(flex-start);
			@include justify-content(space-between);

			&_left {
				width: 50%;
				min-width: 50%;
			}

			&_right {
				width: 50%;
				min-width: 50%;
				@include justify-content(flex-end);
			}
		}

		&__rate {
			margin-bottom: 2rem;
		}

		&__params {
			width: 100%;
			text-align: right;

			span {
				padding: 0 0 0 0.6rem;
			}
		}

		&__price {
			padding-right: 2rem;
		}
	}
}

.goods_filter {
	max-width: 360px;
	margin: 0 auto 1.25rem auto;
	@include flexbox();
	@include justify-content(space-between);

	.goods_sort {
		width: 200px;
	}

	.btn_filter {
		width: 4rem;
		height: 4rem;
		color: #666;
		cursor: pointer;
		padding: 0.6rem 0;
		font-size: 2.4rem;
		line-height: 2.4rem;
		text-align: center;
		background: #fff;
		display: inline-block;
		border: 1px solid #c2c2c2;

		&:hover {
			color: $color-orange;
		}
	}

	@media (min-width: $screen-sm-min) {
		max-width: inherit;
	}

	@media (min-width: $screen-xl-min) {

		.btn_filter {
			display: none;
		}
	}
}

.news {
	max-width: 360px;
	margin: 0 auto 2rem auto;
	@include transition(.3s);
	color: #808080;
	font-size: 1.4rem;
	line-height: 2rem;
	text-decoration: none;
	border: 1px solid #c0dee8;
	@include flexbox();
	@include flex-direction(column);

	&:hover {
		color: #808080;
		text-decoration: none;
		background: rgba(192,222,232, 0.3);
		@include transition(.3s);

		.news__tag {

			span {
				background: #fff;
			}
		}
	}

	&__image {
		display: block;
	}

	&__content {
		padding: 1.5rem;
		@include flexbox();
		@include flex-direction(column);
	}

	h4 {
		padding: 0;
		color: $color-base;
		font-size: 1.4rem;
		font-weight: 700;
		line-height: 2rem;
		margin: 0 0 0.8rem 0;
	}

	&__text {
		padding-bottom: 1rem;
		@include flex-grow(1);
	}

	&__tag {
		font-size: 0;
		line-height: 0;
		margin: 0 -3px;

		span {
			color: #444;
			background: #F0F0F0;
			padding: 4px;
			font-size: 1.1rem;
			line-height: 1.5rem;
			font-weight: bold;
			margin: 0 0.4rem 0.8rem 0.4rem;
			display: inline-block;
		}
	}

	@media (min-width: $screen-sm-min) {
		width: 100%;
		max-width: inherit;
		@include flex-direction(row);

		&__image {
			width: 220px;
			min-width: 220px;
			min-height: 100%;
		}

		&__content {
			@include flex-grow(1);
		}
	}
}

.post {
//	padding: 10px 10px 40px 10px;


	&__date {
		margin-bottom: 5px;
		display: inline-block;
		color: #222;
		font-size: 12px;
		padding: 4px;
		@include border-radius(3px);
		background: #f1f1f1;
		line-height: 12px;
	}

	&__image {
		margin-bottom: 20px;
	}

	p {
		margin-bottom: 0;
	}

	&__content {
		margin-bottom: 25px;
	}

	&__tags {
		margin: 0;
		padding: 1rem 0;
		font-size: 1.3rem;
		line-height: 1.6rem;
		list-style: none;
		border-top: 1px solid #f0f0f0;
		border-bottom: 1px solid #f0f0f0;

		li {
			display: inline-block;

			a {
				color: #3b73b4;
				text-decoration: none;

				&:hover {
					color: #fb7600;
				}
			}

			&:after {
				color: #ccc;
				content: '|';
				padding: 0 8px;
			}

			&:last-child {

				&:after {
					display: none;
				}
			}
		}
	}
}

.modal {
	max-width: 320px;
	background: #fff;
	padding: 2rem 1.5rem;

	&__city {

		&_active {
			font-weight: 500;
			font-size: 2.4rem;
			line-height: 2.6rem;
			margin-bottom: 3rem;
		}
	}

	@media (min-width: $screen-sm-min) {
		max-width: 420px;
		padding: 3rem 4rem;
		width: 420px;
	}
}

.authModal {
	padding: 0;
	width: 290px;
	height: 370px;
	background: #fff;

	&__nav {
		margin: 0;
		padding: 0;
		list-style: none;
		@include flexbox();

		> li {
			width: 50%;

			a {
				width: 100%;
				outline: none;
				font-weight: 600;
				color: $color-base;
				background: #fff;
				font-size: 1.6rem;
				line-height: 2rem;
				text-align: center;
				text-decoration: none;
				padding: 1rem 0.5rem;
				display: inline-block;
				text-transform: uppercase;

				&:hover {
					text-decoration: none;
				}
			}

			&.active {

				a {
					color: #fff;
					background: $color-orange;
				}
			}
		}
	}

	&__content {
		padding: 2rem 1.5rem 4rem 1.5rem;
	}

	&__divider {
		color: #666;
		max-width: 100%;
		overflow: hidden;
		line-height: 2rem;
		font-size: 1.2rem;
		text-align: center;
		padding: 2rem 0;

		span {
			padding: 0 0.7rem;
			position: relative;
			display: inline-block;

			&:after,
			&:before {
				top: 50%;
				z-index: 1;
				content: '';
				height: 1px;
				width: 200px;
				display: block;
				margin-top: 2px;
				background: #f1f1f1;
				position: absolute;
			}

			&:after {
				left: -200px;
			}

			&:before {
				right: -200px;
			}
		}
	}

	.btn_send {
		width: 100%;
	}

	.fancybox-close-small {
		display: none !important;
	}

	@media (min-width: $screen-sm-min) {
		width: 380px;

		&__content {
			padding: 3rem 4rem 4rem 4rem;
		}
	}
}

.social {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	margin: 0 -0.5rem;
	text-align: center;

	> li {
		padding: 0 0.5rem;
		display: inline-block;

		a {
			width: 3.6rem;
			height: 3.6rem;
			color: #306ba3;
			font-size: 1.8rem;
			line-height: 2rem;
			padding: 0.6rem 0;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			background: transparent;
			border: 1px solid #306ba3;
			@include border-radius(50%);
			@include transition(.3s);

			&:hover {
				color: #fff;
				background: #306ba3;
				@include transition(.3s);
			}
		}
	}
}

.hotel_heading {
	padding: 1.5rem 1.5rem;
	border-bottom: 1px solid #f4f4f4;
	@include clearfix();

	h1 {
		width: 100%;
		float: left;
		font-size: 26px;
		line-height: 30px;
		margin-bottom: 5px;
		color: $color-green;
	}

	&_star {
		float: left;
		font-size: 20px;
		line-height: 20px;
		color: $color-orange;

		i {
			margin-right: 3px;
		}
	}

	&_like {
		float: left;
		font-size: 20px;
		line-height: 20px;
		margin-left: 20px;
		color: $color-orange;
	}

	&_country {
		width: 100%;
		float: left;
		font-size: 13px;
		line-height: 20px;
		color: $color-orange;
	}

	@media (min-width: $screen-md-min) {

		h1 {
			width: auto;
			margin-bottom: 0;
		}

		&_star {
			float: left;
			width: auto;
			padding: 5px 0;
			margin-left: 20px;
		}

		&_like {
			padding: 5px 0;
		}

		&_country {
			float: left;
			width: 100%;
		}
	}
}

.hotel_slider {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	table-layout: fixed;
	margin-bottom: 3rem;

	&_body {
		margin-bottom: 10px;
	}

	&_item {
		width: 100%;
		position: relative;
	}

	&_image {
		height: auto;
		display: block;
		max-width: 100%;
	}

	.swiper-slide {
		width: 100% !important;
	}

	&_thumbs {
		padding: 0;
		list-style: none;
		margin: 0 -0.5rem;
		@include flexbox();
		@include flex-wrap(wrap);

		> li {
			width: 25%;
			padding: 0.5rem;

			a {
				display: block;
				position: relative;

				&:before {
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					content: '';
					opacity: 0;
					visibility: hidden;
					position: absolute;
					border: 2px solid  $color-blue;
				}
			}

			&.active {

				a {

					&:before {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&_thumbs {

			> li {
				width: 14.28%;
			}
		}
	}
}


.hotel_content {
	color: #666;
	margin-bottom: 3rem;

	h2 {
		margin-bottom: 20px;
	}

	p {
		color: #222;
		margin-bottom: 15px;
	}
}

.hotel_service {
	margin: 0 -1.5rem 3rem -1.5rem;
	padding: 3rem 2rem;
	background: #f4f4f4;

	> ul {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			margin-bottom: 4rem;
		}
	}

	&_icon {
		top: 0;
		left: 0;
		width: 40px;
		height: 40px;
		overflow: hidden;
		position: absolute;
		@include border-radius(50%);
	}

	&_item {
		position: relative;
		padding: 5px 0 0 52px;

		h4 {
			color: #000;
			font-size: 1.6rem;
			margin: 0 0 8px 0;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				color: #666;
				padding: 3px 0;
				font-size: 1.3rem;
				line-height: 1.8rem;

				&:before {
					content: "-";
					margin-right: 5px;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		> ul {
			@include flexbox();
			@include flex-wrap(wrap);

			> li {
				width: 33.33%;
			}
		}
	}
}

.hotel_map {

	&_wrap {
		width: 100%;
		height: 500px;
		max-width: 100%;
	}

	@media (min-width: $screen-sm-min) {

	}
}
