.footer {
	padding: 2rem 0;
	background: #1b1f22;

	&__container {
		padding: 0 2rem;
		max-width: 1440px;
		position: relative;
	}

	&__row {

	}

	&__logo {
		font-size: 0;
		line-height: 0;
		margin-bottom: 20px;

		a {
			width: 209px;
			display: block;
			text-decoration: none;

		}
	}

	&__address {
		color: #f1f1f1;
		font-size: 12px;
		line-height: 24px;
		margin-bottom: 15px;

		a {
			color: #f1f1f1;
			text-decoration: none;
		}
	}

	&__nav {
		margin: 0 0 15px -10px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {

				a {
					color: #f1f1f1;
					font-size: 13px;
					line-height: 14px;
					padding: 3px 10px;
					display: inline-block;
					white-space: nowrap;
					@include border-radius(5px);
					@include transition(0.3s);

					&:hover {
						color: #f1f1f1;
						text-decoration: underline;
						@include transition(0.3s);
					}
				}
			}
		}
	}

	&__android {
		float: left;
		width: 120px;
		font-size: 0;
		line-height: 0;
		display: block;
		cursor: pointer;
		text-decoration: none;
		margin: 0 10px 10px 10px;
		@include transition(0.3s);
		@include border-radius(5px);

		&:hover {
			color: #ff952c;
			background: #343434;
			@include transition(0.3s);
		}

		img {
			overflow: hidden;
			@include border-radius(5px);
		}
	}

	&__info {
		font-size: 0;
		line-height: 0;
		margin: 0 -10px;
		@include clearfix();
	}

	&__age {
		float: left;
		height: 27px;
		width: 27px;
		display: inline-block;
		text-decoration: none;
		margin: 8px 10px 10px 10px;
		background: url('../img/age.jpg') no-repeat;
	}

	&__counter {
		float: left;
		text-decoration: none;
		display: inline-block;
		margin: 5px 10px 10px 10px;
	}


	@media (min-width: $screen-sm-min) {

		&__row {
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);
		}

		&__logo {
			width: 100%;
			margin-bottom: 30px;
		}

		&__address {
			width: 40%;
			margin-bottom: 0;
		}

		&__nav {
			width: 55%;
			margin-bottom: 0;
			@include flexbox();

			ul {
				width: 50%;
			}
		}

		&__info {
			top: 20px;
			right: 20px;
			margin-bottom: 0;
			position: absolute;
		}
	}

	@media (min-width: $screen-md-min) {
		height: auto !important;

		&__row {
			@include flex-wrap(nowrap);
		}

		&__logo {
			width: 225px;
			min-width: 225px;
			margin-top: 20px;
		}


		&__address {
			width: 190px;
		}

		&__nav {
			width: auto;
		}

		&__info {
			top: auto;
			right: auto;
			padding-top: 20px;
			position: relative;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__nav {
			width: 560px;
		}
	}
}