.header {

	&__container {
		padding: 0 1.5rem;
		max-width: 1440px;
		position: relative;
		@include clearfix();
	}

	&__top {
		color: #fff;
		padding: 1rem 0;
		background: #1b1f22;

		&_logo {
			float: left;
			width: 130px;
			display: block;
			padding: 1rem 0;
		}
	}

	&__toggle {
		float: left;
		width: 40px;
		height: 40px;
		font-size: 0;
		line-height: 0;
		padding: 1rem;
		background: #444;
		margin-left: -0.5rem;
		margin-right: 1.5rem;
		display: inline-block;
		@include border-radius(0.3rem);

		span {
			width: 100%;
			height: 0.3rem;
			background: #fff;
			margin-bottom: 0.6rem;
			display: inline-block;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__time {
		color: #fff;
		float: left;
		display: none;
		cursor: pointer;
		font-size: 1.4rem;
		line-height: 2rem;
		text-decoration: none;

		i {
			margin-right: 0.7rem;
		}

		&:hover {

			span {
				text-decoration: underline;
			}
		}
	}

	&__city {
		width: 4rem;
		color: #fff;
		float: right;
		padding: 1rem 0;
		font-size: 2rem;
		background: #444;
		line-height: 2rem;
		text-align: center;
		margin-left: 1.5rem;
		text-decoration: none;
		display: inline-block;
		@include border-radius(0.3rem);

		span {
			display: none;
		}

		&:hover {
			color: #fff;

			span {
				text-decoration: underline;
			}
		}
	}

	&__divider {
		color: #fff;
		float: left;
		font-size: 1.4rem;
		padding: 0 1rem;
		line-height: 1.5rem;
		display: none;
	}

	&__login {
		width: 4rem;
		color: #fff;
		float: right;
		padding: 1rem 0;
		font-size: 2rem;
		line-height: 2rem;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		background: #444;
		@include border-radius(0.3rem);

		span {
			display: none;
		}

		&:hover {
			color: #fff;

			span {
				text-decoration: underline;
			}
		}
	}

	&__menu {
		background: #60aaf8;
	}

	&__logo {
		display: none;
	}

	&__nav {
		padding: 0;
		margin: 0 -1.5rem;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);

		> li {
			width: 50%;
			border-bottom: 1px solid #fff;

			&:nth-child(1) {
				border-right: 1px solid #fff;
			}
			&:nth-child(3) {
				display: none;
			}

			&:nth-child(4) {
				border-right: 1px solid #fff;
			}

			a {
				color: #fff;
				width: 100%;
				font-size: 1.4rem;
				line-height: 2rem;
				text-align: center;
				padding: 0 0.5rem;
				display: inline-block;
				text-decoration: none;
				background: transparent;
				white-space: nowrap;

				span {
					padding: 1.2rem 0;
					position: relative;
					display: inline-block;
				}

				&:hover {
					color: #fff;
					background: #306ba3;
					text-decoration: none;
				}
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		&__nav {
			@include flex-wrap(nowrap);

			> li {
				width: auto;
				border-bottom: none;
				border-right: none;
				@include flex-grow(1);

				&:nth-child(1) {
					border-right: none;
				}

				&:nth-child(3) {
					display: block;
				}

				&:nth-child(4) {
					border-right: none;
				}

				&:nth-child(5) {
					border-right: none;
				}

				a {

					span {
						padding: 1.8rem 0;
					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__top {

			&_logo {
				display: none;
			}
		}

		&__toggle {
			display: none;
		}

		&__time {
			display: inline-block;
		}

		&__divider {
			display: inline-block;
		}

		&__city {
			margin: 0;
			padding: 0;
			float: left;
			width: auto;
			font-size: 1.4rem;
			background: transparent;

			i {
				margin-right: 0.7rem;
			}

			span {
				display: inline;
			}
		}

		&__login {
			margin: 0;
			padding: 0;
			width: auto;
			float: right;
			font-size: 1.4rem;
			background: transparent;

			i {
				margin-right: 0.7rem;
			}

			span {
				display: inline;
			}
		}

		&__menu {

			.header__container {
				@include flexbox();
			}
		}

		&__logo {
			width: 250px;
			display: block;
			min-width: 250px;
			padding: 1.1rem 3rem 1.1rem 1rem;
		}

		&__nav {
			@include flex-grow(1);
		}
	}


	@media (min-width: $screen-lg-min) {

		&__nav {

			> li {

				a {

					span {
						padding-left: 2.5rem;

						&:before {
							left: 0;
							top: 50%;
							content: '';
							height: 20px;
							margin-top: -10px;
							position: absolute;
							display: inline-block;
							background: url("../img/sprite_menu.png") no-repeat;
						}
					}
				}

				&:nth-child(1) {

					a {

						span {
							padding-left: 2.2rem;

							&:before {
								width: 13px;
								background-position: 0 0;
							}
						}
					}
				}

				&:nth-child(2) {

					a {

						span {

							&:before {
								width: 16px;
								background-position: 0 -40px;
							}
						}
					}
				}

				&:nth-child(3) {

					a {

						span {

							&:before {
								width: 18px;
								background-position: 0 -20px;
							}
						}
					}
				}

				&:nth-child(4) {

					a {

						span {
							padding-left: 3.3rem;

							&:before {
								width: 28px;
								background-position: 0 -60px;
							}
						}
					}
				}

				&:nth-child(5) {
					width: 247px;
					max-width: 247px;

					a {

						span {
							padding-left: 2.6rem;

							&:before {
								width: 20px;
								height: 20px;
								background-position: 0 -80px;
							}
						}
					}
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}

