
.sidenav {

	&__one {
		border-bottom: 1px solid #35567d;

		> li {

			> a {

			}

			&:nth-child(1) {

				> a {
					&:before {
						background-position: 0 -210px;
					}
				}
			}

			&:nth-child(2) {

				> a {
					&:before {
						background-position: 0 -235px
					}
				}
			}

			&:nth-child(3) {

				> a {
					&:before {
						background-position: 0 -260px;
					}
				}
			}
		}
	}

	&__two {

		> li {

			&:nth-child(1) {

				> a {
					&:before {
						background-position: 0 -285px;
					}
				}
			}

			&:nth-child(2) {

				> a {
					&:before {
						background-position: 0 -310px;
					}
				}
			}
		}
	}

	ul {
		margin: 0;
		padding: 1rem 0;
		list-style: none;

		> li {

			> a {
				color: #fff;
				width: 100%;
				font-size: 1.4rem;
				line-height: 2rem;
				position: relative;
				text-decoration: none;
				display: inline-block;
				padding: 1rem 1rem 1rem 4.7rem;
				border-left: 0.3rem solid transparent;

				&:before {
					top: 50%;
					left: 1.7rem;
					width: 24px;
					height: 24px;
					content: '';
					margin-top: -12px;
					position: absolute;
					display: inline-block;
					vertical-align: middle;
					background: #ff952c url("../img/sprite_menu.png") no-repeat;
					@include border-radius(50%);
				}

				&:hover {
					color: #fff;
					background: #60aaf8;
					text-decoration: none;

					&:before {
						background-color: #fff;
					}
				}
			}
		}
	}
}

.countries {

	&__heading {
		color: #333;
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 2rem;
		position: relative;
		padding: 1rem 1rem 1rem 1.5rem;
		border-bottom: 1px solid #f4f4f4;

		&:before {
			top: 50%;
			content: '';
			right: 1rem;
			width: 20px;
			height: 20px;
			margin-top: -10px;
			position: absolute;
			display: inline-block;
			background: url("../img/orange_earth.jpg") 0 0 no-repeat;
		}

	}

	&__list {
		margin: 0;
		padding: 0.5rem 0;

	}

	&__item {
		color: #585858;
		font-size: 1.2rem;
		line-height: 2rem;
		position: relative;
		text-decoration: none;
		padding: 0.3rem 1rem 0.3rem 4.3rem;
		@include flexbox();
		@include justify-content(space-between);

		&:before {
			top: 50%;
			content: '';
			width: 27px;
			height: 20px;
			left: 1rem;
			margin-top: -10px;
			position: absolute;
			display: inline-block;
			background: url("../img/country3.png") no-repeat;
		}

		&:hover {
			text-decoration: none;
			background-color: #f1f7fa;
		}

		&.flag_ab {

			&:before {
				background-position: -6px -4px;
			}
		}

		&.flag_at {

			&:before {
				background-position: -6px -26px;
			}
		}

		&.flag_az {

			&:before {
				background-position: -6px -48px;
			}
		}

		&.flag_ad {

			&:before {
				background-position: -6px -69px;
			}
		}

		&.flag_am {

			&:before {
				background-position: -6px -91px;
			}
		}

		&.flag_bh {

			&:before {
				background-position: -6px -113px;
			}
		}

		&.flag_by {

			&:before {
				background-position: -6px -136px;
			}
		}

		&.flag_be {

			&:before {
				background-position: -6px -157px;
			}
		}

		&.flag_bg {

			&:before {
				background-position: -6px -178px;
			}
		}

		&.flag_gb {

			&:before {
				background-position: -6px -200px;
			}
		}

		&.flag_hy {

			&:before {
				background-position: -6px -223px;
			}
		}

		&.flag_vn {

			&:before {
				background-position: -6px -245px;
			}
		}

		&.flag_gr {

			&:before {
				background-position: -6px -266px;
			}
		}

		&.flag_ge {

			&:before {
				background-position: -6px -288px;
			}
		}

		&.flag_dk {

			&:before {
				background-position: -6px -310px;
			}
		}

		&.flag_il {

			&:before {
				background-position: -6px -332px;
			}
		}

		&.flag_io {

			&:before {
				background-position: -6px -376px;
			}
		}

		&.flag_ie {

			&:before {
				background-position: -6px -397px;
			}
		}

		&.flag_es {

			&:before {
				background-position: -6px -442px;
			}
		}

		&.flag_it {

			&:before {
				background-position: -6px -463px;
			}
		}

		&.flag_qa {

			&:before {
				background-position: -6px -485px;
			}
		}

		&.flag_cy {

			&:before {
				background-position: -6px -508px;
			}
		}

		&.flag_cn {

			&:before {
				background-position: -6px -529px;
			}
		}

		&.flag_lv {

			&:before {
				background-position: -6px -573px;
			}
		}

		&.flag_lt {

			&:before {
				background-position: -6px -594px;
			}
		}

		&.flag_mv {

			&:before {
				background-position: -6px -639px;
			}
		}

		&.flag_mt {

			&:before {
				background-position: -6px -660px;
			}
		}
	}

	&__name {
		color: #0f5fcc;
		font-size: 1.2rem;
		display: inline-block;
		text-decoration: underline;
	}

	&__price {
		color: #585858;
		font-size: 1.2rem;
		padding-right: 1.5rem;
		position: relative;
		display: inline-block;

		&:before {
			top: 0;
			right: 0;
			color: #0f5fcc;
			content: "\f158";
			font-size: 1.4rem;
			line-height: 1.4rem;
			padding: 0.3rem 0;
			position: absolute;
			display: inline-block;
			font-family: FontAwesome;
		}
	}
}

.filters {
	z-index: 100;
	height: 100%;
	background: #fff;
	overflow: hidden;
	position: relative;

	&__close {
		top: 0;
		right: 0;
		z-index: 100;
		width: 40px;
		height: 40px;
		cursor: pointer;
		position: absolute;
		display: inline-block;

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			width: 30px;
			height: 2px;
			background: $color-orange;
			position: absolute;
			margin: -1px 0 0 -15px;
		}

		&:after {
			@include rotate(45deg);
		}

		&:before {
			@include rotate(-45deg);
		}
	}

	&__content {
		height: calc(100vh - 43px);
		overflow-x: hidden;
		overflow-y: auto;
	}

	&__heading {
		color: #333;
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 2rem;
		position: relative;
		padding: 1rem 1rem 1.2rem 1.5rem;
		border-bottom: 1px solid #f4f4f4;

		&:before {
			top: 50%;
			content: '';
			right: 1rem;
			width: 21px;
			height: 20px;
			opacity: 0;
			visibility: hidden;
			margin-top: -10px;
			position: absolute;
			display: inline-block;
			background: url("../img/orange_filtr.jpg") 0 0 no-repeat;
		}
	}

	&__box {
		padding: 1rem 1rem 1.5rem 1.5rem;
		border-bottom: 1px solid #f4f4f4;

		&_title {
			font-size: 1.6rem;
			line-height: 2rem;
			margin-bottom: 1rem;
		}

		&_list {
			margin: 0;
			padding: 0;
			list-style: none;

			> li {
				padding: 0.2rem 0;
			}
		}
	}

	&__price {
		margin-right: 10px;
	}

	@media (min-width: $screen-xl-min) {
		height: auto;
		overflow: inherit;

		&__content {
			height: auto;
			overflow-y: inherit;
		}

		&__heading {

			&:before {
				opacity: 1;
				visibility: visible;
			}
		}

		&__close {
			display: none;
		}
	}
}