
.breadcrumb {
	margin: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	padding: 1rem 1.5rem;
	border-bottom: 1px solid #f4f4f4;

	> li {
		font-size: 1.3rem;
		line-height: 2rem;
		display: inline-block;

		&:after {
			content: '>';
			padding: 0 5px;
		}

		&:last-child {

			&:after {
				display: none;
			}
		}
	}
}