
.btn {
	color: $color-orange;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 2rem;
	padding: 0.9rem 2rem;

	outline: none;
	cursor: pointer;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	display: inline-block;
	vertical-align: middle;
	background: transparent;
	border: 1px solid $color-orange;
	@include transition(.2s);

	&:hover {
		color: #fff;
		text-decoration: none;
		background: $color-orange;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_orange {
	color: #fff;
	background: $color-orange;

	&:hover {
		color: #fff;
		background: $color-orange-hover;
		border-color: $color-orange-hover;
	}
}

.btn_group {
	padding: 0;
	font-size: 0;
	line-height: 0;
	margin: 0 -1rem;
	list-style: none;

	> li {
		padding: 0 1rem;
		display: inline-block;
	}

}