.form_label {
	display: block;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2rem;
	margin-bottom: 0.5rem;
}

.form_control {
	width: 100%;
	display: block;
	color: #666;
	outline: none;
	background: #fff;
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 2rem;
	position: relative;
	overflow: hidden;
	text-align: left;
	padding: 0.9rem 1rem;
	border: 1px solid #c2c2c2;
}

.selectric-wrapper {
	width: 100%;
	display: block;

	&.selectric-open {

		.selectric {

		}
	}

	.selectric {
		width: 100%;
		display: block;
		color: #666;
		font-size: 1.3rem;
		font-weight: 400;
		line-height: 2rem;
		position: relative;
		overflow: hidden;
		text-align: left;
		padding: 0.9rem 2.5rem 0.9rem 1rem;
		border: 1px solid #c2c2c2;

		.label {
			display: block;
			width: 100%;
			white-space: nowrap;
			max-width: 100%;
			overflow: hidden;
			margin: 0;
		}

		.button {
			top: 0;
			right: 0;
			width: 2rem;
			height: 100%;
			font-size: 20px;
			padding: 0.9rem 0;
			line-height: 20px;
			position: absolute;
			text-align: left;
		}

		&:hover {
			background: #f5f5f5;

			.button {
			}
		}
	}

	.selectric-items {
		background: #fff;
		max-height: 200px;
		border: 1px solid #c2c2c2;
		border-top: none;

		.selectric-scroll {
			max-height: 200px;

			ul {
				padding: 0;
				margin: 0;
				font-size: 1.3rem;
				line-height: 2rem;
				list-style: none;

				li {
					color: #666;
					cursor: pointer;
					padding: 0.5rem 1rem;

					&:hover {
						color: #444;
						background: #EDF0F5;
					}

					&.selected {
						color: $color-orange;
						font-weight: 600;
					}
				}
			}
		}
	}
}

.form_checkbox {
	cursor: pointer;
	display: inline-block;

	input {
		display: none;
	}

	span {
		color: #999;
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 2rem;
		position: relative;
		padding-left: 3.2rem;
		display: inline-block;
		@include transition(.3s);

		&:before {
			top: 0;
			left: 0;
			z-index: 5;
			content: '';
			width: 2rem;
			height: 2rem;
			position: absolute;
			display: inline-block;
			border: 1px solid #c0dee8;
		}

		&:after {
			top: 0;
			left: 0;
			color: #fff;
			z-index: 10;
			width: 2rem;
			height: 2rem;
			display: none;
			padding: 0.3rem 0;
			font-size: 1.4rem;
			text-align: center;
			line-height: 1.4rem;
			content: "\f00c";
			position: absolute;
			font-family: FontAwesome;
		}

		&.input_star {
			color: #FBD000;
			font-size: 1.6rem;
		}
	}

	&:hover {
		@include transition(.3s);

		span {
			color: #444;

			&:before {
				border-color: $color-orange;
			}


			&.input_star {
				color: $color-orange;
			}
		}
	}

	input:checked + span {
	//	color: #444;
		@include transition(.3s);

		&:before {
			background: $color-orange;
			border-color: $color-orange;
		}

		&:after {
			display: inline-block;
		}
	}
}

.form_group {
	margin-bottom: 1.5rem;
}

.filter-date {
	padding-right: 2.5rem;
	background: #fff url("../img/calendar_hotel.png") 100% 50% no-repeat;
}

.selection {
	z-index: 100;
	position: relative;

	&:hover,
	&:focus {
		z-index: 200;
	}

	&.open {

		.selection_dropdown {
			display: block;
		}
	}

	.selection_label {
		width: 100%;
		display: block;
		color: #666;
		font-size: 1.3rem;
		font-weight: 400;
		line-height: 2rem;
		position: relative;
		overflow: hidden;
		text-align: left;
		padding: 0.9rem 2.5rem 0.9rem 1rem;
		border: 1px solid #c2c2c2;

		.selection_label_button {
			top: 0;
			right: 0;
			width: 2rem;
			height: 100%;
			font-size: 20px;
			padding: 0.9rem 0;
			line-height: 20px;
			position: absolute;
			text-align: left;
		}

		.selection_label_value {

		}

		&:hover {
			background: #f5f5f5;
		}
	}

	.selection_dropdown {
		left: 0;
		top: 100%;
		background: #fff;
		min-width: 100%;
		display: none;
		position: absolute;
		margin-top: -1px;
		border: 1px solid #c2c2c2;
		@include border-radius(0 9px 5px rgba(0,0,0,0.1));
	}

	.selection_dropdown_wrap {
		padding: 2rem 1.5rem 1rem 1.5rem;
	}


}

.tourists {

	.tourists_title {
		padding: 0.4rem 0;
		font-size: 1.4rem;
		line-height: 20px;
		margin-bottom: 0.7rem;

		&.tourists_adult {
			padding-left: 3.5rem;
			background: url("../img/icon__adults.jpg") 0 50% no-repeat;
		}

		&.tourists_child {
			padding-left: 2.8rem;
			background: url("../img/icon__child.jpg") 0 50% no-repeat;
		}

		&.tourists_baby {
			padding-left: 2rem;
			background: url("../img/icon__baby.jpg") 0 50% no-repeat;
		}
	}

	.tourists_selection {
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		margin: 0 -0.3rem 1.5rem -0.3rem;

		> li {
			width: 25%;
			padding: 0 0.3rem;
			display: inline-block;


		}
	}

	.tourists_radio {
		width: 100%;
		font-weight: 400;
		display: inline-block;

		input {
			display: none;
		}

		span {
			width: 100%;
			height: 2.8rem;
			color: #737d80;
			cursor: pointer;
			background: #fff;
			padding: 0.4rem 0;
			font-size: 1.4rem;
			line-height: 2rem;
			position: relative;
			text-align: center;
			display: inline-block;
			border: 1px solid #c6c7c8;
			@include user-select(none);
			@include border-radius(5px);
		}

		input:checked + span {
			color: #fff;
			background-color: #059bce;
			border: 1px solid #059bce;
		}
	}

	.selection_dropdown {
		width: 230px;
	}
}

.period {

	.selection_dropdown {
		left: auto;
		right: 0;
		width: 230px;
	}


	.period_info {
		font-size: 1.2rem;
		line-height: 1.4rem;
		margin-bottom: 0.5rem;
	}

	@media (min-width: $screen-md-min) {

		.selection_dropdown {
			left: 0;
			right: auto;
		}
	}
}

.form_number {
	padding: 0 2rem;
	position: relative;

	.form_number_value {
		width: 100%;
		display: block;
		color: #666;
		outline: none;
		background: #fff;
		font-size: 1.3rem;
		font-weight: 400;
		line-height: 2rem;
		position: relative;
		overflow: hidden;
		text-align: center;
		padding: 0.2rem 0.5rem;
		border: 1px solid #c2c2c2;
	}

	.form_number_change {
		top: 0;
		bottom: 0;
		z-index: 10;
		color: #007cc0;
		cursor: pointer;
		padding: 0.4rem 0;
		font-size: 1.6rem;
		line-height: 1.6rem;
		position: absolute;

		&.form_number_minus {
			left: 0;
		}

		&.form_number_plus {
			right: 0;
		}
	}
}